@mixin flex ($dir, $jus, $items) {
  display: flex;
  flex-direction: $dir;
  justify-content: $jus;
  align-items: $items;
}
@mixin btn ($bg, $border) {
  padding: 0.9rem 1.4rem;
	border-radius: 0.25rem;
	letter-spacing: 0.05em;
	font-weight: 500;
	background-color: $bg;
	border: 2px solid $border;
	position: relative;
	transition: all 0.3s ease-in-out;
	line-height: 1.5em;
}
@mixin round () {
	aspect-ratio: 7/4;
	position: absolute;
	bottom: 0;
	right: -5rem;
	z-index: -1;
	width: 34rem;
	border-radius: 100rem 0 0 100rem;
	background-color: $boft-blue;
}